.sb-block {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-items: stretch;
  height: auto;

  > * > .sb-toolbar {
    opacity: 0;
    pointer-events: none;
  }

  &_active {
    outline: 1px solid var(--grey-2);

    > * > .sb-toolbar {
      opacity: 1;
      pointer-events: all;
      outline: 1px solid var(--grey-2);
    }
  }

  &__edit-cover {
  }

  &__remove {
    position: absolute;
    left: 100%;
    top: 0;
    max-height: 100%;
    height: auto;
    width: auto;
  }

  &__sliders {
    position: absolute;
    right: 100%;
    width: auto;
    max-width: 100%;
    height: auto;
  }
}
