.sb-modal {
  &__overlay {
    background-color: var(--grey-3-t);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10vh 10vw;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
  }

  &__content {
    width: 900px;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    background-color: var(--grey-0);
    padding: 24px 32px;
  }

  &_open #{&}__overlay {
    opacity: 1;
    pointer-events: all;
  }
}
