* {
  box-sizing: border-box; 
}

html {
  --bg: white;
  --grey-1-t: rgba(0, 0, 0, 0.05);
  --grey-1: rgb(242, 242, 242);
  --grey-2-t: rgba(0, 0, 0, 0.1);
  --grey-2: rgb(230, 230, 230);
  --grey-3-t: rgba(0, 0, 0, 0.2);
  --grey-3: rgb(205, 205, 205);
  --grey-4-t: rgba(0, 0, 0, 0.4);
  --grey-4: rgb(155, 155, 155);
  --grey-5-t: rgba(0, 0, 0, 0.7);
  --grey-5: rgb(75, 75, 75);
  --black: rgba(0, 0, 0, 0.9);
}
